<template>
  <div class="curvePoint" :style="styleObject">{{msg}}</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class CurvePoint extends Vue {
  @Prop() private posX!: number;
  @Prop() private posY!: number;
  @Prop() private rotation!: number;
  @Prop() private msg!: string;
  get styleObject() {
    return {
      transform: "rotate(" + this.rotation + "deg)",
      top: this.posY + "px",
      left: this.posX + "px"
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.curvePoint {
  position: absolute;
  background-color: white;
  font-size: 25px;
  padding: 21px 40px 21px 40px;
  border-radius: 50%;
  border: solid 2.3px #00e931;
  display: block;
  color: #00e931;
  white-space: pre;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
