<template>
  <div>
    <button @click="curve1()">what the hell</button>
    <div class="canvas">
      <CurvePoint
        v-for="point in points"
        :key="point.id"
        :posX="point.posX"
        :posY="point.posY"
        :msg="'BITE ME'"
        :rotation="point.rotation"
      ></CurvePoint>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import CurvePoint from "./CurvePoint.vue";

interface Point {
  id: number;
  posX: number;
  posY: number;
  rotation: number;
}

@Component({
  components: {
    CurvePoint
  }
})
export default class Curve extends Vue {
  private points: Point[] = [];
  curve1() {
    const newPoints = [];
    const numPoints = 50;

    // for (let i = 0; i < numPoints; i++) {
    //   const t = (i / numPoints) * 2 * Math.PI;
    //   newPoints.push({
    //     id: i,
    //     posX: 185 * i,
    //     posY: 0,
    //     rotation: 0
    //   });
    // }
    let id = 0;
    for (let i = 0; i < screen.width; i += 250) {
      for (let j = 0; j < screen.height; j += 120) {
        newPoints.push({
          id: id,
          posX: i + (j % 240 ? 100 : 0),
          posY: j,
          rotation: 0
        });
        id += 1;
      }
    }
    this.points = newPoints;
    // this.points = [
    //   { id: 0, posX: 100, posY: 0, rotation: 0 },
    //   { id: 1, posX: 200, posY: 20, rotation: 0 },
    //   { id: 2, posX: 400, posY: 40, rotation: 0 }
    // ];
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.canvas {
  position: fixed;
  /* top: 30%;
  left: 40%;
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%); */
}
</style>
