<template>
  <div id="app">
    <Curve />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Curve from "./components/Curve.vue";

@Component({
  components: {
    Curve
  }
})
export default class App extends Vue {}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Asap+Condensed|Oswald&display=swap");
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
}
</style>
